<div id="feedcontent">
	<% @contributors.each do |contributor| %>
	<table>
		<tr><td><a href="<%= contributor.url %>"><img src="http://open.thumbshots.org/image.aspx?url=<%= contributor.url %>" border="1" /></a></td>
		<td><b><%= contributor.title %></b>
		<p><%= contributor.description %></p></td></tr>
	</table>
	<% end %>
</div>