#footer a {
	color:#FFFFFF;
}

#copyright {
	font-size:10px;
}

body {
	background-color:#777777;
}

pre { 
	overflow: auto;
	border: 1px solid #a8a8a8;
}

#feedcontent {
	padding:0px 10px 10px 10px;
}

#paginate {
	text-align: center;
	border-top: 2px dotted black;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000;
}

#paginate > a {
	text-decoration: none;
	color: #000;
}

td {
	padding: 5px;
	margin: 0;
}

#footer {
	color:#FFFFFF;
	background-color:#000000;
	margin:0;
	padding-bottom:5px;
	padding-top:10px;
	padding-left:20px;
}

#content {
	background-color:#FFFFFF;
	border-top:10px solid #000000;
	border-bottom:10px solid #000000;
	padding:0;
	margin:0;
}

#content > h1 {
	width: 100%;
	color: #FFF;
	background-color:#000;
	margin-top:0px;
	margin-bottom:0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#content > h1 > a {
	text-decoration: none;
	color: #fff;
	padding-left: 10px;
}

#content > h3 {
	width: 100%;
	color: #777777;
	background-color:#fff;
	font-size: 16px;
	margin-top:0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 5px;
	text-align: right;
}

#content > h3 > a {
	text-decoration: none;
	color: #777777;
	padding-right: 10px;
}

#content > a {
	text-decoration: none;
}

#toolbar > a {
	color:#FFFFFF;
	text-decoration:none;
	padding-right:20px;
	font-weight:bold;
}

#toolbar > span {
	color:#FFFFFF;
	padding-right:20px;
}

#header > h1 {
	margin-top:0px;
	padding-top:35px;
	padding-left:20px;
	color:#000;
	font-weight:bolder;
}

#header > h1 > a {
	color: #000;
	text-decoration: none;
}

#header {
	background-image:url(images/ceres.jpg);
	width:1024px;
	height:104px;
	color:#FFFFFF;
	margin-top:0px;
	padding-top:0px;
}

#toolbar {
	color: #ffffff;
	background-color:#000000;
	margin-top:0px;
	margin-bottom:0px;
	padding-left:20px;
	padding-top:5px;
	padding-bottom:15px;
}

#main {
	width:1024px;
	font-family:Helvetica;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
}

